<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>erreur</title>
</head>
<body>
    <h1>Le serveur à rencontrer des problème</h1>
        <p> <%= erreur%> </p>
        <a href="/">retourner au page d'accueil</a>
</body>
</html>